@media (min-width: 768px) {
    #main-title{
       
        font-size: 6rem;
       
    }

    #main-title::after{
       
        height: 30px;
       
    }
    
    #sub-title{
        font-size: 1.5rem;
    }

    #inputs-wrapper label{
        font-size: 1.2rem;
    }
    
  }


  @media (min-width: 992px) {
    

}

  @media (min-width: 1200px) {
 }
